
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_NavBar.cshtml";
    var uid = Session["UserId"];
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParkBai - Driver Information</title>
    <link href="~/Scripts/CSS/Lot/Info.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script type="module" src="~/Scripts/JS/Lot/Info.js"></script>
</head>
<body>
    <div class="sidebarfloat">
    </div>
    <div class="centerdiv">
        <h1>DRIVER INFORMATION</h1>
        <div id="container">
            <div id="driver">
                <div id="driverheader">
                    <img id="imageElement" alt="Driver Image">
                </div>

                <div class="label-container">
                    <label id="TimeIn">TIME IN:</label>
                    <label id="Time_In" class="lblyellow">Loading...</label>
                </div>

                <div class="label-container">
                    <label id="TimeOut">TIME OUT:</label>
                    <label id="Time_Out" class="lblyellow">Loading...</label>
                </div>

                <div class="label-container">
                    <label id="Parking ID">PARKING ID: </label>
                    <label id="db_park_id" class="lblyellow">Loading...</label>
                </div>

                <div class="label-container">
                    <label id="Driver Name">DRIVER NAME: </label>
                    <label id="driver_name" class="lblyellow">Loading...</label>
                </div>

                <div class="label-container">
                    <label id="Driver License">LICENSE NUMBER: </label>
                    <label id="driver_license" class="lblyellow">Loading...</label>
                </div>
            </div>

            <div id="vehicle">
                <table id="vehicleTable">
                    <thead>
                        <tr>
                            <th>Plate Number</th>
                            <th>Brand</th>
                            <th>Color</th>
                            <th>Model</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <button id="backButton">GO BACK</button>
    </div>
    <script>
        var uid = @Html.Raw(Json.Encode(uid));
    </script>
</body>
</html>

